@page
@model ServiceHost.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

@*@await Component.InvokeAsync("Slide")*@

<div class="slider-container light rev_slider_wrapper" style="height: 650px;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-big arrows-dark' }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
		<ul>
		
	
					<li data-transition="fade">
								<img src="~/MainWebSiteThem/img/slides/1S2A5478.jpg"
					 alt="گروه وصندوق پیشرو در بازدهی پایدار ترجیح سرمایه گذاران"
					 title="گروه وصندوق پیشرو در بازدهی پایدار ترجیح سرمایه گذاران"
							 data-bgposition="center center"
							 data-bgfit="cover"
							 data-bgrepeat="no-repeat"
							 class="rev-slidebg">

						<div class="tp-caption"
							 data-x="['right','right','center','center']"
							 data-hoffset="['146','146','150','245']"
							 data-y="center"
							 data-voffset="['-70','-70','-70','-125']"
							 data-start="1000"
							 data-transform_in="x:[300%];opacity:0;s:500;"
							 data-transform_idle="opacity:0.5;s:500;">
							<img src="~/MainWebSiteThem/img/slides/slide-title-border-light.png">
						</div>

						<div class="tp-caption text-color-light font-weight-normal"
							 data-x="['right','right','center','center']"
							 data-hoffset="['200','200','0','0']"
							 data-y="center"
							 data-voffset="['-72','-72','-72','-125']"
							 data-start="700"
							 data-fontsize="['22','22','22','40']"
							 data-lineheight="['40','40','40','74']"
							 data-transform_in="y:[-50%];opacity:0;s:500;">
								گروه وصندوق پیشرو در بازدهی پایدار ترجیح سرمایه گذاران			
						</div>

						<div class="tp-caption d-none d-md-block"
							 data-frames='[{"delay":1500,"speed":500,"frame":"0","from":"opacity:0;x:-10%;","to":"opacity:1;x:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							 data-x="['right','right','center','center']"
							 data-hoffset="['384','384','-90','-165']"
							 data-y="center"
							 data-voffset="['-49','-49','-49','-86']">
							<img src="~/MainWebSiteThem/img/slides/slide-blue-line.png" alt="">
						</div>

						<div class="tp-caption"
							 data-x="['right','right','center','center']"
							 data-hoffset="['452','452','-150','-245']"
							 data-y="center"
							 data-voffset="['-70','-70','-70','-125']"
							 data-start="1000"
							 data-transform_in="x:[-300%];opacity:0;s:500;"
							 data-transform_idle="opacity:0.5;s:500;">
							<img src="~/MainWebSiteThem/img/slides/slide-title-border-light.png" alt="">
						</div>

						<h1 class="tp-caption font-weight-extra-bold text-color-light negative-ls-2"
							data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-x="['right','right','center','center']"
							data-hoffset="['146','146','0','0']"
							data-voffset="['-5','-5','-5','0']"
							data-y="center"
							data-fontsize="['50','50','50','90']"
							data-lineheight="['55','55','55','95']">
							قیمت پایانی وصندوق
						</h1>

						<div class="tp-caption font-weight-light text-color-light"
							 data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							 data-x="['right','right','center','center']"
							 data-hoffset="['146','146','0','0']"
							 data-y="center"
							 data-voffset="['60','60','60','125']"
							 data-fontsize="['18','18','18','50']"
							 data-lineheight="['34','34','34','100']">
							دوشنبه 1402/05/23 - 15.490
						</div>

					</li>
				

					<li data-transition="fade">

						<img src="~/MainWebSiteThem/img/slides/2S0A9662224-1.jpg"
					 alt="پروژه های موفق" title="پروژه های موفق"
							 data-bgposition="left center"
							 data-bgpositionend="center center"
							 data-bgfit="cover"
							 data-bgrepeat="no-repeat"
							 data-kenburns="on"
							 data-duration="9000"
							 data-ease="Linear.easeNone"
							 data-scalestart="110"
							 data-scaleend="100"
							 data-rotatestart="0"
							 data-rotateend="0"
							 data-offsetstart="0 0"
							 data-offsetend="0 0"
							 data-bgparallax="0"
							 class="rev-slidebg">

						<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
							 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							 data-x="center"
							 data-y="center"
							 data-voffset="['-80','-80','-80','-150']"
							 data-fontsize="['50','50','50','90']"
							 data-lineheight="['55','55','55','95']">
								پروژه های موفق
						</div>

						<div class="tp-caption font-weight-light text-color-light"
							 data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							 data-x="center"
							 data-y="center"
							 data-voffset="['-5','-5','-5','-5']"
							 data-fontsize="['18','18','18','40']"
							 data-lineheight="['34','34','34','76']"
							 style="color: #b5b5b5;">
								بازدید مدیر عامل صندوق بازنشستگی و مدیران وصندوق از شرکت های زیر مجموعه
						</div>
					</li>
		</ul>
	</div>
</div>


<section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-6 pb-4 pb-lg-0 pr-lg-5 mb-sm-5 mb-lg-0">
				<h2 class="text-color-dark font-weight-normal text-6 mb-2"> <strong class="font-weight-extra-bold">درباره ما </strong> </h2>
				<p class="lead">
					شرکت سرمایه‌گذاری صندوق بازنشستگی کشوری (سهام عام) با نماد «وصندوق» در بازار سرمایه، در راستای کسب سود مناسب، حضور فعال در صنایع دارای مزیت نسبی را در اولویت فعالیت‌های خود قرار داده است. بر این اساس و با توجه به بهره مندی کشورمان از منابع غنی نفت و گاز و معادن مختلف و نیز دانش مناسب در این صنایع، سرمایه گذاری در حوزه‌های نفت، گاز، پتروشیمی، نیروگاهی و فولادی در اولویت فعالیت‌های سرمایه گذاری این شرکت قرار گرفته و خوشبختانه با بهره گیری از مدیریت هوشمند و مدبرانه، این شرکت توانسته است موقعیت‌های مناسبی را شناسایی و در آن‌ها سرمایه گذاری نماید.

					</p>
				
				<a asp-page="/AboutUs" class="btn btn-light font-weight-semibold btn-px-4 btn-py-2 text-2">  بیشتر بدانید</a>
			</div>
			<div class="col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-md-4 offset-lg-2 mt-sm-5" style="top: 1.7rem;">
				<img src="~/MainWebSiteThem/img/generic/JamPic1.jpg" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; right: -50%;" alt="">
				<img src="~/MainWebSiteThem/img/generic/MasjedSoleimanPic1.jpg" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" style="top: -33%; right: -29%;" alt="">
				<img src="~/MainWebSiteThem/img/generic/NIrooAtieSabaPic1.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
			</div>
		</div>
	</div>
</section>

<div class="row">
	<div class="col py-4">
		<hr class="solid">
	</div>
</div>



@*<div class="container">*@
	@*<div clasclass="row">*@
		<div class="col-md-12 mx-md-auto text-center">

			<h2 class="text-color-dark font-weight-normal text-5 mb-2 pt-2">
				<strong class="font-weight-extra-bold">صندوق بازنشستگی کشور در بورس	</strong> 
			</h2>
			<p>اطلاعات زیر از وب سایت TSETMC در بازه 5 دقیقه گذشته به روز شده است.</p>

			<div class="py-4 py-md-3"></div>

			<div class="container">
				<div class="row text-center">
					<div class="col-md-4">
						<div class="container">
							<div class="row justify-content-center mb-2">
								<div class="col-md-12">
									<canvas id="divbar"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="container">
							<div class="row justify-content-center mb-2">
								<div class="col-md-12">
									<canvas id="divbarVolume"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="container">
							<div class="row justify-content-center mb-2">
								<div class="col-md-12" @*style="width:100%;"*@>
									<canvas id="divbarCount"></canvas>
								</div>
							</div>
						</div>
					</div>
@*					<div class="col-md-6">

						<div class="container">
							<div class="row justify-content-center mb-2">
								<div class="col-md-12" style="width:100%;">
									<canvas id="divbarCount"></canvas>
								</div>
							</div>

						</div>
					</div>*@

				</div>
			</div>
		</div>
	@*</div>*@
@*</div>*@


@*<div class="container">
	<div clasclass="row">
		<div class="col-md-12 mx-md-auto text-center">

			<div class="container">
				<div class="row justify-content-center mb-2">
					<div class="col-md-6" style="width:100%;">
						<canvas id="divbarCount"></canvas>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>*@


				<section class="section section-primary border-top-0 mb-0">
					<div class="container">
						<div class="row counters counters-sm counters-text-light">
							<div class="col-sm-12 col-lg-12 mb-12 mb-lg-0">
								<div class="counter">
									@*<strong data-to="30000" data-append="+">0</strong>*@
									<label class=" font-weight-bold text-10 mt-1"> آخرین اخبار</label>
								</div>
							</div>
						</div>
					</div>
				</section>

<div class="col-md-10 mx-md-auto text-center">
				<div class="container-fluid">
					<div class="row align-items-center bg-color-grey">
						<div class="col-lg-6 p-0">
							<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/NEWS/jam-new-1.jpg" style="min-height: 315px;">
							</section>
						</div>
						<div class="col-lg-6 p-0">
							<section class="section section-no-border h-100 m-0">
								<div class="row m-0">
									<div class="col-half-section col-half-section-left">
										<div class="overflow-hidden">
											<h4 class="mb-0 appear-animation" data-appear-animation="maskUp">1402 مرداد  17<a asp-page="/NewsDetails2" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">جلسه بررسی عملکرد سه ماهه منتهی به خرداد 1402 شرکت پتروشیمی جم برگزار شد</a> </h4>
										</div>
										<div class="overflow-hidden mb-2">
											<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
												عملکرد سه ماهه منتهی به خرداد 1402 شرکت پتروشیمی جم طی نشستی با حضور اعضای هیئت مدیره و مدیران و معاونین هلدینگ صباانرژی و مدیران و معاونین شرکت جم در سالن کنفرانس شرکت سرمایه‌گذاری صندوق بازنشستگی کشوری برگزار شد.
											</p>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<div class="row align-items-center bg-color-grey">
						<div class="col-lg-6 order-2 order-lg-1 p-0">
							<section class="section section-no-border h-100 m-0">
								<div class="row justify-content-end m-0">
									<div class="col-half-section col-half-section-right custom-text-align-right">
										<div class="overflow-hidden">
											<h4 class="mb-0 appear-animation" data-appear-animation="maskUp">1402 مرداد 17<a asp-page="/NewsDetails3" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">جلسه بررسی عملکرد سه ماهه منتهی به خرداد 1402 شرکت پتروشیمی جم پیلن برگزار شد
</a></h4>
										</div>
										<div class="overflow-hidden mb-2">
											<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
												عملکرد سه ماهه منتهی به خرداد 1402 شرکت پتروشیمی جم پیلن طی نشستی با حضور دکتر برزویی معاون امور شرکت‌ها و مجامع این هلدینگ و آقای گنجی مدیرعامل این شرکت در سالن کنفرانس شرکت سرمایه‌گذاری صندوق بازنشستگی کشوری برگزار شد.

											</p>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="col-lg-6 order-1 order-lg-2 p-0">
							<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/NEWS/jam_p_1.jpg" style="min-height: 315px;">
							</section>
						</div>
					</div>
					<div class="row align-items-center bg-color-grey">
						<div class="col-lg-6 p-0">
							<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/NEWS/SabaFolad.jpg" style="min-height: 315px;">
							</section>
						</div>
						<div class="col-lg-6 p-0">
							<section class="section section-no-border h-100 m-0">
								<div class="row m-0">
									<div class="col-half-section col-half-section-left">
										<div class="overflow-hidden">
											<h4 class="mb-0 appear-animation" data-appear-animation="maskUp">1402 مرداد  10<a asp-page="/News_Details" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">تولید در صبافولاد خلیج فارس رکورد زد</a> </h4>
										</div>
										<div class="overflow-hidden mb-2">
											<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">شرکت صبافولاد خلیج‌فارس موفق شد در سه ماه ابتدای  سال 1402 (سال مهار تورم و رشد تولید) نسبت به مدت زمان مشابه در سال گذشته، تولید خود را به میزان ۵۰ درصد افزایش دهد.</p>
										</div>
										@*<p class="text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان</p>*@
									</div>
								</div>
							</section>
						</div>
					</div>
					<div class="row align-items-center bg-color-grey">
						<div class="col-lg-6 order-2 order-lg-1 p-0">
							<section class="section section-no-border h-100 m-0">
								<div class="row justify-content-end m-0">
									<div class="col-half-section col-half-section-right custom-text-align-right">
										<div class="overflow-hidden">
											<h4 class="mb-0 appear-animation" data-appear-animation="maskUp">1402 تیر 17<a asp-page="/News_Details" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">پیام مدیرعامل هلدینگ صباانرژی به مناسبت فرارسیدن تاسوعا و عاشورای حسینی</a></h4>
										</div>
										<div class="overflow-hidden mb-2">
											<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">«اِنَّ الْحُسین مِصباحُ الْهُدی وَ سَفینَهُ الْنِّجاه»
												قیام عاشورا بزرگترین حماسه آزادگی و آزادیخواهی، ظلم ستیزی و عدالت خواهی، شجاعت و ایثار، فداکاری و گذشت و امر به معروف و نهی از منکر در تاریخ بشر است.
											</p>
										</div>
										@*<p class="text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان</p>*@
									</div>
								</div>
							</section>
						</div>
						<div class="col-lg-6 order-1 order-lg-2 p-0">
							<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/NEWS/New-Project-13.jpg" style="min-height: 315px;">
							</section>
						</div>
					</div>
					<div class="row align-items-center bg-color-grey">
						<div class="col-lg-6 p-0">
							<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/NEWS/New-Project-12.jpg" style="min-height: 315px;">
							</section>
						</div>
						<div class="col-lg-6 p-0">
							<section class="section section-no-border h-100 m-0">
								<div class="row m-0">
									<div class="col-half-section col-half-section-left">
										<div class="overflow-hidden">
											<h4 class="mb-0 appear-animation" data-appear-animation="maskUp">1402 مرداد 04<a asp-page="/News_Details" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">  عزاداری کارکنان صندوق بازنشستگی در سوگ سید الشهدا (ع)</a></h4>
										</div>
										<div class="overflow-hidden mb-2">
											<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
												امروز در آستانه تاسوعا و عاشورای حسینی، مراسم عزاداری ویژه کارکنان صندوق بازنشستگی کشوری، هلدینگ‌ها و شرکت‌های تابعه برگزار شد.

											</p>
										</div>
										@*<p class="text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان</p>*@
									</div>
								</div>
							</section>
						</div>
					</div>
					<div class="row align-items-center bg-color-grey">
						<div class="col-lg-6 order-2 order-lg-1 p-0">
							<section class="section section-no-border h-100 m-0">
								<div class="row justify-content-end m-0">
									<div class="col-half-section col-half-section-right custom-text-align-right">
										<div class="overflow-hidden">
											<h4 class="mb-0 appear-animation" data-appear-animation="maskUp">1402 تیر 7<a asp-page="/News_Details" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">مجلس عزاداری امام حسین (ع) در هلدینگ صباانرژی</a></h4>
										</div>
										<div class="overflow-hidden mb-2">
											<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">پرسنل هلدینگ صباانرژی در هشتمین روز محرم به سوگ اباعبدالله الحسین (ع) نشستند.</p>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="col-lg-6 order-1 order-lg-2 p-0">
							<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/NEWS/New-Project-3-4.jpg" style="min-height: 315px;">
							</section>
						</div>
					</div>
				</div>


					<div class="row text-center pt-4 mt-5">
						<div class="col">
							<h2 class="word-rotator slide font-weight-bold text-7 text-sm-8 mb-3 primary-font">
								<a href="/"><span>آرشیو </span>
								<span class="word-rotator-words bg-primary">
									<b class="is-visible">اخبار شرکت</b>
									<b>خبر روز شرکت</b>
								</span>
								<span> را دنبال کنید</span></a>
							</h2>
							@*<h4 class="text-primary lead tall text-4 primary-font">30,000 متشری در 100 کشور جهان از پورتو استفاده می کنند. با مشتریان ما آشنا شوید.</h4>*@
						</div>
					</div>
</div>
@*<div class="container">*@


	<div class="row">
		<div class="col py-4">
			<hr class="solid">
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 mx-md-auto text-center">
			<img alt="" class="img-fluid" src="~/MainWebSiteThem/img/LogomainPage.png">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 mx-md-auto text-center">

			<h2 class="text-color-dark font-weight-normal text-5 mb-2 pt-2">
				<strong class="font-weight-extra-bold">گروه های  زیر مجموعه	</strong> 
			</h2>
			<p>
				گروه های  زیر مجموعه هولیدنگ     

			</p>

			<div class="py-4 py-md-3"></div>

			<section class="timeline mb-n5" id="timeline">
				<div class="timeline-body">
@*					<div class="timeline-date">
						<h3 class="text-primary font-weight-bold">گروه پتروشیمی</h3>
					</div>*@

					<section class="timeline-box left text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
						<div class="timeline-box-arrow"></div>
						<div class="p-2 ">
							@*<img alt="" class="img-fluid" src="img/history/history-3.jpg">*@
									<div class="subset-item-icon img-fluid">
												<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1699.594 1706.61">
												<g id="Layer_x0020_1" transform="translate(-301.886 -313.4)">
												  <path id="Path_78" data-name="Path 78" d="M1974.81,1179.24H1308.53a26.669,26.669,0,0,0-26.67,26.67v787.43a26.669,26.669,0,0,0,26.67,26.67h666.28a26.669,26.669,0,0,0,26.67-26.67V1205.91a26.669,26.669,0,0,0-26.67-26.67Zm-554.7,98.83h153.02a26.669,26.669,0,0,1,26.67,26.67v124.33a26.669,26.669,0,0,1-26.67,26.67H1420.11a26.669,26.669,0,0,1-26.67-26.67V1304.74A26.669,26.669,0,0,1,1420.11,1278.07Zm290.1,0h153.02a26.669,26.669,0,0,1,26.67,26.67v124.33a26.669,26.669,0,0,1-26.67,26.67H1710.21a26.669,26.669,0,0,1-26.67-26.67V1304.74A26.669,26.669,0,0,1,1710.21,1278.07Zm-290.1,232.72h153.02a26.669,26.669,0,0,1,26.67,26.67v124.33a26.669,26.669,0,0,1-26.67,26.67H1420.11a26.669,26.669,0,0,1-26.67-26.67V1537.46A26.669,26.669,0,0,1,1420.11,1510.79Zm290.1,0h153.02a26.669,26.669,0,0,1,26.67,26.67v124.33a26.669,26.669,0,0,1-26.67,26.67H1710.21a26.669,26.669,0,0,1-26.67-26.67V1537.46A26.669,26.669,0,0,1,1710.21,1510.79Zm-290.1,232.71h153.02a26.669,26.669,0,0,1,26.67,26.67V1894.5a26.669,26.669,0,0,1-26.67,26.67H1420.11a26.669,26.669,0,0,1-26.67-26.67V1770.17A26.669,26.669,0,0,1,1420.11,1743.5Zm290.1,0h153.02a26.669,26.669,0,0,1,26.67,26.67V1894.5a26.669,26.669,0,0,1-26.67,26.67H1710.21a26.669,26.669,0,0,1-26.67-26.67V1770.17A26.669,26.669,0,0,1,1710.21,1743.5Z" fill-rule="evenodd"/>
												  <path id="Path_79" data-name="Path 79" d="M763.39,1431.09h485.14v562.24a59.658,59.658,0,0,0,6.25,26.67h-60.23a59.658,59.658,0,0,0,6.25-26.67V1677.72a60.009,60.009,0,0,0-60-60H850.7a60.009,60.009,0,0,0-60,60v315.61a59.658,59.658,0,0,0,6.25,26.67H763.39a26.669,26.669,0,0,1-26.67-26.67V1457.76a26.669,26.669,0,0,1,26.67-26.67Z"/>
												  <path id="Path_80" data-name="Path 80" d="M358.52,1615.99H703.39v377.34a59.658,59.658,0,0,0,6.25,26.67H358.52a26.669,26.669,0,0,1-26.67-26.67V1642.66a26.669,26.669,0,0,1,26.67-26.67Z"/>
												  <path id="Path_81" data-name="Path 81" d="M1498.91,1145.91l35.79-417.94a26.669,26.669,0,0,1,26.63-25.32h160.66a26.664,26.664,0,0,1,26.57,24.39l-.01.09,35.86,418.78H1498.9Z"/>
												  <path id="Path_82" data-name="Path 82" d="M1140.8,2020H1022.42V1651.06H1140.8a26.669,26.669,0,0,1,26.67,26.67v315.61a26.669,26.669,0,0,1-26.67,26.67Zm-171.72,0H850.7a26.669,26.669,0,0,1-26.67-26.67V1677.72a26.669,26.669,0,0,1,26.67-26.67H969.08v368.94Z"/>
												  <path id="Path_83" data-name="Path 83" d="M1480.28,344.27a26.6,26.6,0,1,0-52.5-8.54c-13.2,80.6,27.33,120.21,66.92,158.89,29.11,28.44,57.54,56.23,47.06,104.97a26.619,26.619,0,0,0,52.08,11.04c16.63-77.25-22.25-115.24-62.06-154.14-29.77-29.08-60.24-58.87-51.5-112.22Z"/>
												  <path id="Path_84" data-name="Path 84" d="M1629.13,344.27a26.6,26.6,0,1,0-52.5-8.54c-13.19,80.61,27.33,120.21,66.92,158.89,29.11,28.44,57.54,56.23,47.06,104.97a26.619,26.619,0,0,0,52.08,11.04c16.63-77.25-22.25-115.24-62.06-154.14-29.76-29.09-60.24-58.87-51.5-112.22Z"/>
												  <g id="_2883097930608">
													<path id="Path_85" data-name="Path 85" d="M888.17,1397.76l35.79-417.94a26.669,26.669,0,0,1,26.63-25.32h160.66a26.664,26.664,0,0,1,26.57,24.39l-.01.09,35.86,418.78H888.16Z"/>
													<path id="Path_86" data-name="Path 86" d="M867.81,596.12a26.6,26.6,0,0,0-52.5-8.54c-13.19,80.61,27.33,120.21,66.92,158.89,29.11,28.44,57.54,56.23,47.06,104.97a26.619,26.619,0,1,0,52.08,11.04c16.63-77.25-22.25-115.24-62.06-154.14-29.76-29.09-60.24-58.87-51.5-112.22Z"/>
													<path id="Path_87" data-name="Path 87" d="M1016.67,596.12a26.6,26.6,0,0,0-52.5-8.54c-13.2,80.6,27.33,120.21,66.92,158.89,29.11,28.44,57.54,56.23,47.05,104.97a26.619,26.619,0,0,0,52.08,11.04c16.63-77.25-22.24-115.24-62.05-154.14-29.77-29.08-60.24-58.87-51.5-112.22Z"/>
												  </g>
												  <g id="_2883097933392">
													<path id="Path_88" data-name="Path 88" d="M376.57,1582.66l35.34-412.73a26.669,26.669,0,0,1,26.63-25.32H599.2A26.664,26.664,0,0,1,625.77,1169l-26.57,2.28,26.56-2.19,35.41,413.57H376.56Z"/>
													<path id="Path_89" data-name="Path 89" d="M356.93,786.23a26.6,26.6,0,0,0-52.5-8.54c-13.2,80.61,27.33,120.21,66.92,158.89,29.11,28.44,57.54,56.23,47.05,104.97a26.619,26.619,0,1,0,52.08,11.04c16.63-77.25-22.24-115.24-62.05-154.14-29.77-29.08-60.24-58.86-51.5-112.22Z"/>
													<path id="Path_90" data-name="Path 90" d="M505.78,786.23a26.6,26.6,0,0,0-52.5-8.54c-13.2,80.61,27.33,120.21,66.92,158.89,29.11,28.44,57.54,56.23,47.05,104.97a26.619,26.619,0,1,0,52.08,11.04c16.63-77.25-22.24-115.24-62.05-154.14-29.77-29.08-60.24-58.86-51.5-112.22Z"/>
												  </g>
												</g>
											  </svg>
									</div>
							<h3 class="font-weight-bold text-3 mt-3 mb-1"> گروه پتروشیمی</h3>
							@*<p class="mb-0 text-2"> حوزه پتروشیمی</p>*@
						</div>
					</section>

	@*				<div class="timeline-date">
						<h3 class="text-primary font-weight-bold">شرکت نیروگاه های غرب کشور</h3>
					</div>*@

					<section class="timeline-box right text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400">
						<div class="timeline-box-arrow"></div>
						<div class="p-2">
							@*<img alt="" class="img-fluid" src="img/history/history-2.jpg">*@
									<div class="subset-item-icon img-fluid">
												<?xml version="1.0" encoding="UTF-8" standalone="no"?> <?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg  viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m184.429688 101.929688c-1.859376 1.859374-2.929688 4.441406-2.929688 7.070312s1.070312 5.210938 2.929688 7.070312c1.859374 1.859376 4.441406 2.929688 7.070312 2.929688s5.210938-1.070312 7.070312-2.929688c1.859376-1.859374 2.929688-4.441406 2.929688-7.070312s-1.070312-5.210938-2.929688-7.070312c-1.859374-1.859376-4.441406-2.929688-7.070312-2.929688s-5.210938 1.070312-7.070312 2.929688zm0 0"/><path d="m502 316h-37.5v-104.5c0-3.53125-1.863281-6.800781-4.902344-8.601562-3.039062-1.804688-6.800781-1.867188-9.898437-.171876l-106.699219 58.402344v-49.628906c0-3.53125-1.863281-6.800781-4.902344-8.601562-3.039062-1.804688-6.800781-1.867188-9.898437-.171876l-106.699219 58.402344v-49.628906c0-3.53125-1.863281-6.800781-4.902344-8.601562-3.039062-1.804688-6.800781-1.867188-9.898437-.171876l-106.699219 58.402344v-132.191406c0-5.480469 4.457031-9.9375 9.9375-9.9375h41.5625c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-41.5625c-16.507812 0-29.9375 13.429688-29.9375 29.9375v.0625h-60v-53.65625c0-30.515625 24.828125-55.34375 55.347656-55.34375 17.566406 0 33.707032 8.070312 44.277344 22.136719 3.316406 4.414062 9.585938 5.304687 14.003906 1.988281 4.414063-3.316406 5.304688-9.585938 1.988282-14-1.3125-1.75-2.691407-3.429688-4.128907-5.039062 8.269531-3.34375 17.144531-5.085938 26.199219-5.085938 22.621094 0 43.949219 11.054688 57.050781 29.574219 1.945313 2.753906 5.035157 4.222656 8.171875 4.222656 1.996094 0 4.011719-.597656 5.765625-1.835937 4.507813-3.191407 5.578125-9.429688 2.386719-13.9375-2.019531-2.859376-4.199219-5.574219-6.507812-8.148438h59.882812c19.058594 0 34.5625 15.503906 34.5625 34.5625s-15.503906 34.5625-34.5625 34.5625h-52.9375c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h52.9375c30.085938 0 54.5625-24.476562 54.5625-54.5625s-24.476562-54.5625-54.5625-54.5625h-85.3125c-.175781 0-.34375.015625-.515625.027344-12.511719-6.414063-26.511719-9.902344-40.921875-9.902344-15.140625 0-29.902344 3.777344-43.0625 10.972656-11.628906-7.117187-25.109375-10.972656-39.277344-10.972656-41.546875 0-75.347656 33.800781-75.347656 75.34375v426.65625c0 5.523438 4.476562 10 10 10h492c5.523438 0 10-4.476562 10-10v-176c0-5.523438-4.476562-10-10-10zm-57.5-87.628906v87.628906h-101.5v-32.074219zm-121.5 0v87.628906h-101.5v-32.074219zm-243-51.371094h-60v-28h60zm-60 20h60v295h-20v-60.617188c0-5.523437-4.476562-10-10-10s-10 4.476563-10 10v60.617188h-20zm80 86.925781 101.5-55.554687v87.628906h-39.5c-5.523438 0-10 4.476562-10 10v166h-52zm392 208.074219h-320v-156h320zm0 0"/><path d="m217 453h46c5.523438 0 10-4.476562 10-10v-48c0-5.523438-4.476562-10-10-10h-46c-5.523438 0-10 4.476562-10 10v48c0 5.523438 4.476562 10 10 10zm10-48h26v28h-26zm0 0"/><path d="m309 453h46c5.523438 0 10-4.476562 10-10v-48c0-5.523438-4.476562-10-10-10h-46c-5.523438 0-10 4.476562-10 10v48c0 5.523438 4.476562 10 10 10zm10-48h26v28h-26zm0 0"/><path d="m401 453h46c5.523438 0 10-4.476562 10-10v-48c0-5.523438-4.476562-10-10-10h-46c-5.523438 0-10 4.476562-10 10v48c0 5.523438 4.476562 10 10 10zm10-48h26v28h-26zm0 0"/><path d="m50 401.328125c2.628906 0 5.210938-1.058594 7.070312-2.929687 1.859376-1.859376 2.929688-4.429688 2.929688-7.070313 0-2.628906-1.070312-5.207031-2.929688-7.066406-1.859374-1.863281-4.441406-2.933594-7.070312-2.933594s-5.210938 1.070313-7.070312 2.933594c-1.859376 1.859375-2.929688 4.4375-2.929688 7.066406 0 2.640625 1.070312 5.210937 2.929688 7.070313 1.859374 1.871093 4.429687 2.929687 7.070312 2.929687zm0 0"/></svg>
									</div>
							<h3 class="font-weight-bold text-3 mt-3 mb-1">گروه نیروگاهی</h3>
							@*<p class="mb-0 text-2">حوزه نیروگاهی</p>*@
						</div>
					</section>

@*					<div class="timeline-date">
						<h3 class="text-primary font-weight-bold">شرکت توسعه فلزات قدیر</h3>
					</div>*@

					<article class="timeline-box left text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
						<div class="timeline-box-arrow"></div>
						<div class="p-2">
									<div class="subset-item-icon img-fluid">
										<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M9.6,93.625H47.784l.015,0a1.451,1.451,0,0,0,.279-.028,1.328,1.328,0,0,0,.163-.049,1.214,1.214,0,0,0,.117-.036,1.459,1.459,0,0,0,.175-.092c.027-.016.057-.028.083-.046a1.486,1.486,0,0,0,.23-.188L91.462,50.568h0a1.494,1.494,0,0,0,.443-1.063V39.871a1.5,1.5,0,0,0-1.5-1.5H78.143V7.875c0-.039-.008-.075-.011-.113l-.006-.053a1.475,1.475,0,0,0-.322-.773l-.019-.023a1.486,1.486,0,0,0-.688-.46l-.035-.011a1.458,1.458,0,0,0-.419-.067H67.01a1.5,1.5,0,0,0-1.063.442h0L23.33,49.434a1.51,1.51,0,0,0-.328.492L23,49.948a1.493,1.493,0,0,0-.106.548V67.077L8.537,81.429a1.506,1.506,0,0,0-.329.494l0,.011a1.5,1.5,0,0,0-.11.558v9.633A1.5,1.5,0,0,0,9.6,93.625Zm1.5-9.633H24.389a1.5,1.5,0,0,0,1.5-1.5V52h6.633v30.5a1.5,1.5,0,0,0,1.5,1.5H46.284v6.633H11.1ZM75.143,39.234,35.522,77.525V51.117L75.143,11.5ZM67.628,9.378h5.391L33.4,49H28.01ZM49.284,83.113,88.905,43.492v5.391L49.284,88.5Zm37.5-41.742L47.163,80.992H36.252l41-39.621Zm-63.9,39.621H13.216l9.673-9.673Z"/></svg>		
									</div>
							<h3 class="font-weight-bold text-3 mt-3 mb-1">گروه فلزات</h3>
							@*<p class="mb-0 text-2"> حوزه فلزات</p>*@
						</div>
					</article>

	@*				<div class="timeline-date">
						<h3 class="text-primary font-weight-bold">سایر شرکت ها</h3>
					</div>*@

					<section class="timeline-box right text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="700">
						<div class="timeline-box-arrow"></div>
						<div class="p-2">
							@*<img alt="" class="img-fluid" src="img/history/history-2.jpg">*@
									<div class="subset-item-icon img-fluid">
											<?xml version="1.0" encoding="UTF-8"?>
											<svg id="svg8" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<g id="g2405" transform="matrix(.96034 0 0 .96043 -.61147 .95505)"
													style="stroke-width:1.0412">
													<path id="path1235" transform="matrix(1.0413 0 0 1.0412 -82.667 -42.642)"
														d="m91.5 41.414v1.7949h-3.1348v2.0469h-1.668v6.3711h-1.4824v-2.0156h-1v2.0156h-2.3184v10.959h20.207v-10.959h-2.3848v-2.0156h-1v2.0156h-1.543v-6.3711h-1.7949v-2.0469h-2.8809v-1.7949zm-2.1348 2.7949h5.0156v1.0469h-5.0156zm-1.668 2.0488h8.4766v15.326h-2.3594v-3.7148h-3.7559v3.7148h-2.3594v-9.957h-2e-3zm-4.8008 6.3711h3.8008v8.9551h-3.8008zm14.279 0h3.9277v8.9551h-3.9277zm-6.1152 6.2422h1.752v2.7129h-1.752z"
														style="color-rendering:auto;color:#000000;dominant-baseline:auto;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;image-rendering:auto;inline-size:0;isolation:auto;mix-blend-mode:normal;paint-order:stroke fill markers;shape-margin:0;shape-padding:0;shape-rendering:auto;solid-color:#000000;stop-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal" />
													<path id="path1239"
														d="m10.479 6.9785v3.1738h5.043v-3.1738h-5.043zm1.043 1.043h2.957v1.0898h-2.957v-1.0898z"
														style="color-rendering:auto;color:#000000;dominant-baseline:auto;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;image-rendering:auto;inline-size:0;isolation:auto;mix-blend-mode:normal;paint-order:stroke fill markers;shape-margin:0;shape-padding:0;shape-rendering:auto;solid-color:#000000;stop-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal" />
													<path id="path1243"
														d="m10.479 11.848v3.1738h5.043v-3.1738h-5.043zm1.043 1.041h2.957v1.0898h-2.957v-1.0898z"
														style="color-rendering:auto;color:#000000;dominant-baseline:auto;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;image-rendering:auto;inline-size:0;isolation:auto;mix-blend-mode:normal;paint-order:stroke fill markers;shape-margin:0;shape-padding:0;shape-rendering:auto;solid-color:#000000;stop-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal" />
													<path id="path1532" d="m4.6113 16.296v1.041h2.041v-1.041h-2.041z"
														style="color-rendering:auto;color:#000000;dominant-baseline:auto;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;image-rendering:auto;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;shape-rendering:auto;solid-color:#000000;stop-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal" />
													<path id="path1536" d="m4.6113 14.032v1.043h2.041v-1.043h-2.041z"
														style="color-rendering:auto;color:#000000;dominant-baseline:auto;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;image-rendering:auto;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;shape-rendering:auto;solid-color:#000000;stop-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal" />
													<path id="path1540" d="m4.6113 18.558v1.041h2.041v-1.041h-2.041z"
														style="color-rendering:auto;color:#000000;dominant-baseline:auto;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;image-rendering:auto;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;shape-rendering:auto;solid-color:#000000;stop-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal" />
													<path id="path1544" d="m19.545 16.296v1.041h2.041v-1.041h-2.041z"
														style="color-rendering:auto;color:#000000;dominant-baseline:auto;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;image-rendering:auto;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;shape-rendering:auto;solid-color:#000000;stop-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal" />
													<path id="path1548" d="m19.545 14.032v1.043h2.041v-1.043h-2.041z"
														style="color-rendering:auto;color:#000000;dominant-baseline:auto;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;image-rendering:auto;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;shape-rendering:auto;solid-color:#000000;stop-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal" />
													<path id="path1552" d="m19.545 18.558v1.041h2.041v-1.041h-2.041z"
														style="color-rendering:auto;color:#000000;dominant-baseline:auto;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;image-rendering:auto;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;shape-rendering:auto;solid-color:#000000;stop-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal" />
												</g>
											</svg>
									</div>
							<h3 class="font-weight-bold text-3 mt-3 mb-1">سایر شرکت ها</h3>
							@*<p class="mb-0 text-2">حوزه سرمایه گذاری</p>*@
						</div>
					</section>

@*					<div class="timeline-date">
						<h3 class="text-primary font-weight-bold">شرکت نفتی مدرن گستر</h3>
					</div>*@

					<article class="timeline-box left text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
						<div class="timeline-box-arrow"></div>
						<div class="p-2">
									<div class="subset-item-icon img-fluid">
											<?xml version="1.0" encoding="UTF-8"?>
											<svg viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
												<!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
												<title>13. Oil</title>
												<desc>Created with Sketch.</desc>
												<defs></defs>
												<g id="13.-Oil" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
													<rect id="Layer-1" stroke="#fff" stroke-width="4" x="14.5039802" y="9.04587156" width="70.4587156" height="88.0733945"></rect>
													<rect id="Layer-2" stroke="#fff" stroke-width="4" x="60" y="2" width="16.1540014" height="7.04587156"></rect>
													<path d="M50.5370007,34 C51.5458698,34 52.3766098,34.7524925 52.4841328,35.7196575 C52.5837622,36.2969121 53.3121053,40.2575 55.1475088,44.0278457 C56.8705774,47.5674293 59.8570876,52.0602796 60.6164563,53.1861083 C62.1598191,55.2189958 63.0740015,57.7437572 63.0740015,60.4791903 C63.0740015,67.2041198 57.5486983,72.6557523 50.7328914,72.6557523 C50.6674744,72.6557523 50.6021762,72.6552501 50.5370007,72.6542494 C50.4718252,72.6552501 50.4065271,72.6557523 50.3411101,72.6557523 C43.5253032,72.6557523 38,67.2041198 38,60.4791903 C38,57.7437572 38.9141824,55.2189958 40.4575452,53.1861083 C41.2169138,52.0602796 44.2034241,47.5674293 45.9264927,44.0278457 C47.7618962,40.2575 48.4902392,36.2969121 48.5898687,35.7196575 C48.6973917,34.7524925 49.5281316,34 50.5370007,34 L50.5370007,34 Z" id="Layer-3" stroke="#fff" stroke-width="4"></path>
													<path d="M10.1003104,9.04587156 L89.3663655,9.04587156" id="Layer-4" stroke="#fff" stroke-width="4"></path>
													<path d="M10.1003104,97.1192661 L89.3663655,97.1192661" id="Layer-5" stroke="#fff" stroke-width="4"></path>
													<path d="M15,18.1192661 L85,18.1192661" id="Layer-6" stroke="#fff" stroke-width="4"></path>
													<path d="M15,87.8807339 L84,87.8807339" id="Layer-7" stroke="#fff" stroke-width="4"></path>
												</g>
											</svg>
									</div>
							<h3 class="font-weight-bold text-3 mt-3 mb-1">گروه فراورده های نفتی</h3>
							@*<p class="mb-0 text-2"> حوزه فعالیت های نفتی </p>*@
						</div>
					</article>

				</div>
			</section>

		</div>
	</div>





@*<div class="container h-100 py-6 py-md-0">
	<div class="row align-items-center h-100">
		<div class="col">
			<div class="row justify-content-center mb-4">
				<div class="col-md-9 col-lg-6 text-center">

					<div class="overflow-hidden mb-3">
						<h2 class="font-weight-bold text-10 mb-0 appear-animation line-height-9" data-appear-animation="maskUp" data-appear-animation-delay="200">پروژه ها  و طرح ها</h2>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>*@


<div class="container h-100 py-6 py-md-0">
	<div class="row align-items-center h-100">
		<div class="col-lg-10 text-center offset-lg-1">
			<h2 class="font-weight-bold text-9 mb-0 appear-animation line-height-8" data-appear-animation="fadeInUpShorter" data-appear-animation-duration="750" data-plugin-options="{'accY': -200}"><span class="primary-font small"></span><br>شرکت سرمایه گذاری صندوق بازنشستگی کشوری</h2>
			<p class="sub-title text-primary text-4 font-weight-semibold positive-ls-2 mt-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" data-appear-animation-duration="750"> <span class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-2 highlighted-word-animation-1 highlighted-word-animation-1-no-rotate font-weight-semibold line-height-2 primary-font pb-2">پروژه ها و طرح ها</span></p>
			
		</div>
	</div>
</div>





<div class="container">
	<div class="row py-5 my-5">
		<div class="col-md-12 order-2 order-md-1 text-center text-md-left appear-animation mt-4 mt-md-2" data-appear-animation="fadeInRightShorter">
			<div class="owl-carousel owl-theme nav-style-1 mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2},'1250': {'items': 3}, '1450': {'items': 3}}, 'margin': 25, 'loop': true, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 5000}">
				<div>
					<img class="img-fluid rounded-2 mb-3" src="~/MainWebSiteThem/img/projects/Project3.jpg" alt="">
					<h3 class="font-weight-bold text-color-dark text-4 mb-0 primary-font">پروژه تولید PDH-PP</h3>
					<a href="/"><p class="text-2 mb-0">ادامه مطلب</p></a>
				</div>
				<div>
					<img class="img-fluid rounded-2 mb-3" src="~/MainWebSiteThem/img/projects/Project1.jpg" alt="">
					<h3 class="font-weight-bold text-color-dark text-4 mb-0 primary-font">پروژه ABS/Rubber	</h3>
					<a href="/"><p class="text-2 mb-0">ادامه مطلب</p></a>
				</div>
				<div>
					<img class="img-fluid rounded-2 mb-3" src="~/MainWebSiteThem/img/projects/Project4.jpg" alt="">
					<h3 class="font-weight-bold text-color-dark text-4 mb-0 primary-font">پروژه تولید اسلب عریض آلیاژی فولاد اکسین خوزستان</h3>
					<a href="/"><p class="text-2 mb-0">ادامه مطلب</p></a>
				</div>
				<div>
					<img class="img-fluid rounded-2 mb-3" src="~/MainWebSiteThem/img/projects/Project5.jpg" alt="">
					<h3 class="font-weight-bold text-color-dark text-4 mb-0 primary-font">فاز دوم پروژه تیوبلس ایران یاسا</h3>
					<a href="/"><p class="text-2 mb-0">ادامه مطلب</p></a>
				</div>
				<div>
					<img class="img-fluid rounded-2 mb-3" src="~/MainWebSiteThem/img/projects/Project2.jpg" alt="">
					<h3 class="font-weight-bold text-color-dark text-4 mb-0 primary-font">طرح واحد احیای دوم صبا فولاد</h3>
					<a href="/"><p class="text-2 mb-0">ادامه مطلب</p></a>
				</div>
			</div>
		</div>

	</div>
</div>
@*</div>*@




    

@section Scripts{
	<script>
		const barchartDiv = document.getElementById("divbar");
		const dataPrice = @Html.Raw(Json.Serialize(Model.DataSetPrice));
		const labelsPrice = @Html.Raw(Json.Serialize(Model.DatasetPriceLabels));
	
		const barchartPrice = new Chart(barchartDiv,
			{
				type: 'bar',
				data: {
					labels: labelsPrice["labels"],
					datasets: [dataPrice]
				},
				options: {
					elements: {
						bar: {
							borderWidth: 2,
							borderRadius: 8
						}
					}
				}
			});

	
		const barchartDivVolume = document.getElementById("divbarVolume");
		const dataVolume = @Html.Raw(Json.Serialize(Model.DataSetVolume));
		const labelsVolume = @Html.Raw(Json.Serialize(Model.DatasetVolumeLabels));
	
		const barchartVolume = new Chart(barchartDivVolume,
			{
				type: 'bar',
				data: {
					labels: labelsVolume["labels"],
					datasets: [dataVolume]
				},
				options: {
					elements: {
						bar: {
							borderWidth: 2,
							borderRadius: 8
						}
					}
				}
			});

		const barchartDivCount = document.getElementById("divbarCount");
		const dataCount = @Html.Raw(Json.Serialize(Model.DataSetCount));
		const labelsCount = @Html.Raw(Json.Serialize(Model.DatasetCountLabels));

		const barchartCount = new Chart(barchartDivCount,
			{
				type: 'bar',
				data: {
					labels: labelsCount["labels"],
					datasets: [dataCount]
				},
				options: {
					elements: {
						bar: {
							borderWidth: 2,
							borderRadius: 8
						}
					}
				}
			});
	</script>
}
