@page
@model ServiceHost.Areas.Administration.Pages.WebSite.NewsCategories.IndexModel

@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "مدیریت تیتر خبر ها";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["Title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg" href="#showmodal=@Url.Page("./Index", "Create")">ایجاد تیتر خبر جدید</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">جستجو در تیتر خبر ها</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" method="get">
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.NewsHeader"></label>
                        <input class="form-control" asp-for="SearchModel.NewsHeader" placeholder="نام تیتر خبر">
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                    <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست تینر خبر ها</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table-responsive table table-striped table-bordered align-content-center align-items-center ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>عکس</th>
                                    <th> تیتر خبر</th>
                                    <th> توضیح</th>
                                    <th>تاریخ ایجاد</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.NewsCategories)
                                {
                                    <tr>
                                        <td>@item.id</td>
                                        <td class="text-center">
                                            <img src="~/MainWebSiteThem/img/NEWS/@item.NewsHeaderPictureUrl" style="height:100%; width:100%;" />
                                        </td>
                                        <td>@item.NewsHeader</td>
                                        <td>@item.NewsHeaderDescription</td>
                                        <td>@item.CreationDate</td>
                                        <td style="width:250px;">
                                            <a class="btn btn-warning waves-effect waves-light m-b-5"
                                               href="#showmodal=@Url.Page("./Index", "Edit", new { id = item.id })">
                                                <i class="fa fa-edit"></i>ویرایش
                                            </a>
            @*                                @if (!item.IsRemoved)
                                            {
                                                <a asp-page="./Index" asp-page-handler="Remove" asp-route-id="@item.Id"
                                                   class="btn btn-danger waves-effect waves-light m-b-5">
                                                    حذف
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-page="./Index" asp-page-handler="Restore" asp-route-id="@item.Id"
                                                   class="btn btn-success waves-effect waves-light m-b-5">
                                                    فعال سازی
                                                </a>
                                            }*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AdminThem/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminThem/assets/datatables/dataTables.bootstrap.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}